/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.item { 
	width: 200px; 
	height: 200px;
	background-color: #EEE;
	float: left;
	margin: 5px;
}
