body {
	background-color: #FFF;
}
#intro
{
	width: 40%;
	margin-left: 10px;
}



#plex
{
	width: 90%;
	margin-top: 25px;
	margin-left: 60px;
	
}

#map{
	float: right;
	margin-right: 50px;
	margin-top: 50px;
}


#pictures
{
	margin-top: 25px;
}

#left-arrow
{
	height: 50px;
	width: auto;
	margin-right: 10px;
}

#right-arrow
{
	height: 50px;
	width: auto;
	margin-left: 10px;
}
#pic1
{
	margin-right: 50px;
	height: 225px;
	width: auto;
}

#pic2
{
	margin-right: 50px;
	height: 225px;
	width: auto;
}

#pic3
{
	height: 225px;
	width: auto;
}


.well h1
{
	margin-top: 0;
}
.well p
{
	margin-top: 30px;
}

#address
{
	margin:0;
	float: right;
}

#ratings
{
	margin-top: 25px;
	margin-left: 150px;
	width: 100%;
}

#ratings h2
{
	font-size: 20px;
}
#ratings img
{ 
	height: 20px;
	width: auto;
}

.starRat
{
	margin-right: 50px;
	float:left;
	
}

#submit-comment
{
	margin-top: 140px;
	margin-left: 100px;
}

#submit-comment h1
{
	font-size: 10;
}

#comments
{
	margin-left:100px;
	margin-top:50px;
	width:50%;
}

#comments-header
{
	font-size: 20px;
	margin-bottom: 20px;
}